<section class="pro_container">
  <div>
    <div class="profile_img">
      <a href="/profile/edit_profile/<%= @user_name %>" id="edit-profile-link">Edit Profile</a>
      <div id="prof-img-foot">
        <p><%= params[:user_name] %> is <span style="color:#00ff00;">Online</span></p>
      </div>
    </div>
    <div class="slideshow">
      <div class="slideshow_wrapper">
        <ul id="slider">
          <!-- <li><img src="http://4d663a369f9f03c3c61e-870e77779efd63f7bd6c2ee08d8cfae6.r2.cf1.rackcdn.com/images/gyO04SLxg8Fq.840x0.Vdef9Kkm.jpg" alt="" /></li> -->
          <!-- <li><img src="http://www.gameondaily.com/wordpress/wp-content/uploads/2015/05/2864036-assassins_creed_syndicate_gang_leader-1200x666.jpg" alt="" /></li>
          <li><img src="http://www.gamerheadlines.com/wp-content/uploads/2015/05/AC-Syndicate-111.jpg" alt="" /></li>
          <li><img src="http://cdn.mos.techradar.com/art/games/Fallout%204/E3%20press/Fallout4_E3_Workshop_1434324024-970-80.jpg" alt="" /></li>
          <li><img src="http://i.kinja-img.com/gawker-media/image/upload/s--sJUncsSs--/c_fit,f_auto,fl_progressive,q_80,w_636/1297830977926445345.gif" alt="" /></li>
          <li><img src="https://s3-us-west-1.amazonaws.com/shacknews/assets/editorial/2015/11/dogmeat.jpg" alt="" /></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="contents">
    <div class="profile_props">
      <div id="props">
        <div id="region">
          <p>
            <hr><strong>Region</strong><hr>
          </p>
        </div><br>
        <div id="gamertags">
          <p>
            <hr><strong>Gamertags</strong><hr>
          </p>
        </div><br>
        <div id="platforms">
          <p>
            <hr><strong>Platforms</strong><hr>
          </p>
        </div>
      </div>
    </div>
    <div class="profile-comments">
      <div id="form-container">
        <form class="comment-post" action="/profile/user/<%= @user_name %>" method="post">
          <input type="hidden" name="account_id" value="<%= @id %>">
          <input type="hidden" name="poster_name" value="<%= @poster_name %>">
          <textarea name="comment" rows="6" cols="40" placeholder="Post comments here..."></textarea>
          <input type="submit" id="post-btn" value="Post">
        </form>
      </div>
      <div id="posts-container">
        <% @comments.each do |comment| %>
          <%= "<div class='posts'><p id='timestamp'>#{comment.date_created} - Posted by: <a href='/profile/user/#{comment.poster_name}'><span>#{comment.poster_name}</span></a></p><p id='comments'>#{comment.comment}</p><hr></div>" %>
        <% end %>
      </div>
    </div>
  </div>


</section>

<!-- <%= session[:message] %> -->
<script type="text/javascript">
console.log("<%= @user_name %>");
console.log("<%= @id %>");

document.getElementById('form-container').style.display = "<%= @no_post %>";
document.getElementById('edit-profile-link').style.display = "<%= @no_edit %>";

//------------------------------ Image Slider --------------------------------//

  var ul;
  var listItems;
  var numOfImgs;
  var imgWidth;
  var currentImage;

  function init() {
    ul = document.getElementById('slider');
    listItems = ul.children;
    numOfImgs = listItems.length;
    imgWidth = listItems[0].children[0].offsetWidth;
    ul.style.width = parseInt(imgWidth * numOfImgs) + "px";
    slider(ul);
  }

  function slider(ul) {
    animate({
      delay : 17,
      duration : 3000,
      delta : function(p) {
        return Math.max(0, -1 + 2 * p);
      },
      step : function(delta) {
        ul.style.left = '-' + parseInt(currentImage * imgWidth + delta * imgWidth) + "px";
      },
      callback : function() {
        currentImage++;
        if (currentImage < numOfImgs - 1) {
          slider(ul);
        } else {
          var leftPosition = (numOfImgs - 1 * imgWidth);
          setTimeout(function() {goBack(leftPosition)}, 2000);
          setTimeout(function() {slider(ul)}, 4000);
        }
      }
    });
  }

  function goBack(leftposition) {
    currentImage = 0;
    var id = setInterval(function() {
      if (leftposition >= 0) {
        ul.style.left = '-' + parseInt(leftposition) + "px";
        leftposition -= imgWidth / 10;
      } else {
        clearInterval(id);
      }
    });
  }

  function animate(opts) {
    var start = new Date;
    var id = setInterval(function() {
      var timePassed = new Date - start;
      var progress = timePassed / opts.duration;
      if (progress > 1) {
        progress = 1;
      }
      var delta = opts.delta(progress);
      opts.step(delta);
      if (progress == 1) {
        clearInterval(id);
        opts.callback();
      }
    }, opts.delay || 17);
  }

  // window.onload = init();
//----------------------------------------------------------------------------//

//----------------------- Load Profile Props ---------------------------------//

  function getProfProps() {

    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      if (xhr.readyState !== XMLHttpRequest.DONE) {
        return;
      }
      console.log(xhr.readyState);
      if (xhr.status == 200) {
        var output = JSON.parse(xhr.responseText);
        console.log(output);

        // Set the user's location
        var city = document.createElement('p');
        city.innerText = output[0].location;
        var region = document.getElementById('region');
        region.appendChild(city);

        // Set the user's gamertags
        var tags = document.getElementById('gamertags');
        var steam = document.createElement('li');
        var psn = document.createElement('li');
        var xbl = document.createElement('li');
        steam.innerHTML = "<strong>Steam:</strong><span id='steam'> " + output[0].steam_id + "</span>";
        tags.appendChild(steam);
        psn.innerHTML = "<strong>PSN:</strong><span id='psn'> " + output[0].psn_id + "</span>";
        tags.appendChild(psn);
        xbl.innerHTML = "<strong>X-Box Live:</strong><span id='xbl'> " + output[0].xbl_id + "</span>";
        tags.appendChild(xbl);

        // Set the user's platforms
        var platformsArray = ["pc", "ps4", "xbo", "wiiu", "ps3", "xb360", "wii"];
        var platforms = document.getElementById('platforms');
        for (var i = 0; i < platformsArray.length; i++) {
          if (output[0][platformsArray[i]] !== null) {
            var li = document.createElement('li');
            switch (platformsArray[i]) {
              case "pc":
                li.innerText = "PC";
                break;
              case "ps4":
                li.innerText = "Playstation 4";
                break;
              case "xbo":
                li.innerText = "X-Box One";
                break;
              case "wiiu":
                li.innerText = "Wii U";
                break;
              case "ps3":
                li.innerText = "Playstation 3";
                break;
              case "xb360":
                li.innerText = "X-Box 360";
                break;
              case "wii":
                li.innerText = "Wii";
                break;
              default:
                li.innerText = "No Platforms"
            }
            platforms.appendChild(li);
          }
        }
      } else {
        console.log("ERROR: " + xhr.status);
      }
    };
    xhr.open('GET', "/profile/<%= @user_name %>/profile_props", true);
    xhr.send(null);

  }

  window.onload = getProfProps();

//----------------------------------------------------------------------------//

//---------------------- Comment Poster (javascript) -------------------------//



  // var postButton = document.getElementById('post-btn');
  // postButton.addEventListener('submit', function() {
  //   var posts = document.createElement('div');
  //   posts.className = "posts";
  //   var hr = document.createElement('hr');
  //   posts.appendChild(hr);
  //   var time = document.createElement('p');
  //   time.id = "timestamp";
  //   var date = new Date();
  //   time.innerHTML = date.toLocaleString();
  //   posts.appendChild(time);
  //   var comment = document.createElement('p');
  //   comment.id = "comments";
  //   var formComments = document.getElementsByName('comment')[0].value;
  //   comment.innerText = formComments;
  //   posts.appendChild(comment);
  //   posts.appendChild(hr);
  //   var container = document.getElementById('posts-container');
  //   container.appendChild(posts);
  //   document.getElementsByName('comment')[0].value = "";
  // });

//----------------------------------------------------------------------------//

</script>
